version: "3"
services:
  app:
    build:
      context: .
    command: /bin/sh init.sh
    ports:
      - "4000:4000"
    depends_on:
      - db
    links:
      - db
  db:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
